<div class="container">
  <div class="intro">
    <video autoplay loop muted>
      <source src="../../../assets/img/avpvideo.mp4" type="video/mp4">
    </video>
  </div>
  <div class="content">
    <div class="card">
      <img src="../../../assets/img/avp1.png" alt="image">
      <p alt="text">Welcome to the era of spatial computing.</p>
    </div>
    <div class="card">
      <img src="../../../assets/img/avp2.jpg" alt="image">
      <p alt="text">Apple Vision Pro seamlessly blends digital content with your physical space.</p>
    </div>
    <div class="card">
      <img src="../../../assets/img/avp3.jpg" alt="image">
      <p alt="text">You navigate simply by using your eyes, hands, and voice.</p>
    </div>
    <div class="card">
      <img src="../../../assets/img/avp4.jpg" alt="image">
      <p alt="text">Revolutionary dual‑chip performance.</p>
    </div>
  </div>
  <div class="outro">
    <video autoplay loop>
      <source src="../../../assets/img/os.mp4" type="video/mp4">
    </video>
  </div>
  <a href="https://adrianfernandezalv.com/">by Adrián Fernández</a>
</div>

